# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err

# temp file for git conflict merging
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html
*.dump

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
*.iml

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules/
jscoverage_lib/
bower_components/
dist/

.user.ini

# 忽略缓存文件
cache/*.json


# 忽略日志文件
*.log

# 忽略IDE和编辑器文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# 忽略备份文件
*.bak
*.swp
*~


