<div id="layer-form-content">
  <form class="layui-form" onSubmit="return searchSubmit()" action="" id="search-area">
    <div class="search-input">
      <input type="text" name="wd" id="search-wd" required lay-verify="required" placeholder="搜索歌手、歌名、专辑"
        autocomplete="on" class="layui-input">
      <button class="layui-btn" lay-submit type="submit">搜 索</button>
    </div>
    <div class="source-radio" id="music-source">
      <label><input type="radio" name="source" value="netease" checked title="网易云"></label>
      <label><input type="radio" name="source" value="kugou" title="酷狗"></label>
      <label><input type="radio" name="source" value="tencent" title="QQ"></label>
      <div hidden>致敬永远存在的虾米音乐 start</div>
      <label><input type="radio" name="source" value="xiami" title="虾米" disabled></label>
      <div hidden>end</div>
      <label><input type="radio" name="source" value="baidu" title="百度"></label>
    </div>
  </form>
</div>